body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Primario{
  color: #333333 !important;
}
.secundario{
  color: #757575 !important;
}

.text-red{
  color:#ed0722;
}

.centrar{
  text-align: center !important;
  text-align: -webkit-center !important;
}
.w40{
  width: 40% !important;
}
  
.w100{
  width: 100% !important;
}

.f-centrar{
  justify-content: center !important;
}

.derecha{
  text-align: right !important;
  text-align: -webkit-right !important;
}

.f-derecha{
  justify-content: flex-end;
}

.f-izquierda{
  justify-content: flex-start;
}

.izquierda{
  text-align: left !important;
  text-align: -webkit-left !important;
}

.space-between{
  display: flex;
  justify-content: space-between !important;
}

.scroll-modal{
  overflow-y: scroll;
    height: 70vh;
}

.v-vertical-centrar{
  display: flex;
  align-items: center;
}

.revisar{
    margin-right: 16px !important;
    top: -1px !important;
    position: relative !important;
}

.card-logo{
  height: 40px;
}

.obtener-plan{
  font-family: "frutiger-lt-light", Arial, Helvetica, "sans-serif" !important;
  font-size: 14px !important;
  font-weight: initial !important; 
  min-width: 100% !important;
  padding: 7px !important;

}

.badge-card{
  position: relative !important;
  border-radius: .8rem 0 0 .8rem !important;
}

.displace-card{
  right: -56px !important;
}

.card-footer-text{
  font-size: 12px !important;
  color: #757575 !important;
}

.footer-text{
  font-size: 12px !important;
}

.modal-ver{
  flex-basis: calc(50%) !important;
    max-width: calc(50%) !important;
}

.bold{
  font-family: "frutiger-lt-bold", Arial, Helvetica, "sans-serif" !important;
}

.light{
  font-family: "frutiger-lt-light", Arial, Helvetica, "sans-serif" !important;
}

.ver-tabla-comparativa{
  font-family: "frutiger-lt-roman", Arial, Helvetica, "sans-serif" !important;
  border: none !important;
  padding: 12px 18px !important;
}

.b-right{
  border-right: solid 1px #D8D8D8;
}

.b-left{
  border-left: solid 1px #D8D8D8;
}

.ver-detalles{
  font-size: 12px !important;
    font-family: "frutiger-lt-light" !important;
    line-height: 16px !important;
}

.info-prop{
  width: 54px !important;
  padding-right: 10px;
}

.info-prop2{
  width: 28px !important;
  padding-right: 10px;
}

.tab-adj{
  display: flex;
  list-style-type: none;
}

.tab-adj2{
  width: 100%;
    padding-bottom: 16px !important;
    outline: none;
}

.flex{
  display: flex;
}

.no-flex{
  display: block !important;
}

.no-shadow{
  box-shadow: none !important;
}

.p10{
  padding: 10px !important;
}

.pl0{
  padding-left: 0 !important;
}

.p18{
  padding: 18px;
}

.p24{
  padding: 24px !important;
}

.p36{
  padding: 36px !important;
}


.pr10{
  padding-right: 10px !important;
}

.pl18{
  padding-left: 18px;
}

.pl24{
  padding-left: 24px !important;
}

.pb36{
  padding-bottom: 36px !important;
}

.p0{
  padding: 0 !important;
}

.m0{
  margin: 0;
}

.mt5{
  margin-top: 5px;
}

.mt5{
  margin-top: 5px !important;
}

.mr10{
  margin-right: 10px;
}

.mr36{
  margin-right: 36px;
}

.m-20{
  margin: 20px;
}

.mtb-20{
  margin: 20px 0;
}

.ml4{
  margin-left: 4px !important;
}

.ml5{
  margin-left: 5px !important;
}

.r-4{
  position: relative;
  right: -4px;
}

.bla{
  border: none !important;
}

.bla:hover{
  background-color: transparent !important;
  border-color: transparent !important;
    color: #8230df !important;
}

.circulo-icon{
  border: solid 1px;
  width: 36px;
  border-radius: 50%;
  border-color: #E2E8EE;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.download-icon{
  color: #8230df;
    padding: 3px;
    cursor: pointer;
}

.pdf-icon{
  color: #BE207A;
  padding: 3px;
  cursor: pointer;
}

.flex-vc-fe{
  display: flex !important;
  align-items: center !important;
  justify-content: flex-end !important;
}

.p72-comprobante{
  padding: 0 72px !important;
}

.check-card{
  border: 0.1rem solid #e2e8ee;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-top: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:16px;
    cursor: pointer;
    box-shadow: 0 0.2rem 1rem 0 #e2e8ee;
}

.check-card2{
  border: 0.1rem solid #e2e8ee;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0.2rem 1rem 0 #e2e8ee;
    margin: 3px;
}

.icon-color{
  fill: #333333 !important;
}

.icon-color:hover{
  fill: white !important;
  transition: 0.2s;
}

.check-card:hover{
  background: #8230df;
  color: white;
  transition: 0.2s;
}

.check-card2:hover{
  background: #8230df;
  color: white;
  transition: 0.2s;
}

.lh16{
  line-height: 16px !important;
}

/*----------------------
     Esqueleto
----------------------*/

.esq-card{
  background: #eeeeee;
    color: #eeeeee;
    border-radius: 5px;
}

.esq-check-title{
  background: #eeeeee;
    color: #eeeeee;
    border-radius: 5px;
    margin: 0 0 10PX 3px;
    height: 20px;
    width: 80PX; 
}

.esq-button{
  background: #eeeeee;
  color: #eeeeee;
  border-radius: 5px;
  width: 120px;
  height: 60px;
}

.flex-button{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-end-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.f-right-center{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-end-bottom{
  display: flex;
  align-items: flex-end;
}

.btn-border-red{
  background-color: #fff !important;
    border-color: #ed0722 !important;
    color: #ed0722 !important;
}

.h16{
  height: 16px;
}

.h20{
  height: 20px;
}

.h26{
  height: 26px;
}

.h48{
  height: 48px;
}

.h56{
  height: 56px !important;
}

.h72{
  height: 72px;
}

.h370{
  height: 370px;
}

.esq-check{
  background: #eeeeee;
  color: #eeeeee;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  margin: 3px;
}

.display-none{
  display: none;
}
.display-block{
  display: block;
}

/*----------------------
      Media Querys
----------------------*/

@media (max-width: 767px) and (min-width: 0){

  .button--secondary {
    min-width: 100% !important;
  }
  .button--primary{
    min-width: 100% !important;
    margin-bottom: 12px !important;
  }
  .invertir{
    flex-direction: column-reverse !important;
  }
  .p36{
    padding: 0px !important;
  }
  .p72-comprobante{
    padding: 0px !important;
  }
  .pl18{
    padding-left: 0 !important;
  }
  .pl24{
    padding-left: 0 !important;
  }
  .r18{
    right: 18px;
  }
  .xs-p0{
    padding: 0 !important;
  }
  .xs-p30{
    padding: 30px !important;
  }
  .xs-pl0{
    padding-left: 0 !important;
  }
  .xs-w100{
    width: 100%;
  }
  .xs-success{
    display: flex;
    justify-content: center;
    margin-top: 48px !important;
  }
  .dialog__header{
    margin-top: 0 !important;
  }
  .xs-b-left{
    border-left: 0px;
  }
  .xs-centrar{
    text-align: center !important;
    text-align: -webkit-center !important;
  }
  .card-logo{
    height: 28px !important;
  }
  .xs-pb0{
    padding-bottom: 0 !important;
  }
  .xs-pt0{
    padding-top: 12px !important;
  }
  .card-comprobante{
    padding: 1rem !important;
    box-shadow: none !important;
    border: none !important;
  }
  .b-right{
    border-right: none;
  }
  .f-right-center{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}



@media (min-width: 0){

  .offset-xs-2{
    margin-left: 0 !important;
  }

}